$color-font: #45f;
$color-bg-default: #a4f;
$color-bg-boxe: #fd3;
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;

html {
    font-size: 62.5%;
}

body {
   // background: url('../assets/background.jpg') no-repeat top center;
   // background-size: cover;
    background-color: $color-bg-default;
    font-family: $font-default;
    margin: 0;
}

h1 {
    color: $color-font;
    text-align: center;
    width: 100%;
}

h2 {
    margin-top: 2rem;
    color: $color-font;
}

header,
section,
footer {
    display: block;
    float: left;
    width: 100%;
}
.container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 90vw;
}

#sobre {
    background-color: #fff;
}

#produtos {
   
}

@import 'vitrine'